<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fabiano.hemocentro">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BancoDeSangue">
        <activity android:name=".HemocentroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormDoador"
            android:label="Formulario Doador"
            android:parentActivityName=".HemocentroActivity" />
        <activity
            android:name=".BancoDeSangue"
            android:label="Banco de Sangue"
            android:parentActivityName=".HemocentroActivity" />
        <activity
            android:name=".Rank"
            android:label="Rank de Doadores"
            android:parentActivityName=".HemocentroActivity" />
        <activity
            android:name=".SaidaDeBolsa"
            android:label="Saida de Bolsas"
            android:parentActivityName=".BancoDeSangue" />
        <activity
            android:name=".FormDoacao"
            android:label="Formulario Doacao"
            android:parentActivityName=".HemocentroActivity" />
        <activity
            android:name=".CampanhaActivity"
            android:label="Campanhas"
            android:parentActivityName=".HemocentroActivity" />
        <activity android:name=".FormCampanha"
            android:label="Formulario Campanha"
            android:parentActivityName=".CampanhaActivity"/>
        <activity android:name=".CampanhaListaDoador"
            android:label="Doadores"
            android:parentActivityName=".CampanhaActivity"></activity>
    </application>

</manifest>